In [14]:
pip install dask

Requirement already satisfied: dask in e:\python workspace aur\.venv\lib\site-packages (2025.10.0)
Requirement already satisfied: click>=8.1 in e:\python workspace aur\.venv\lib\site-packages (from dask) (8.3.0)
Requirement already satisfied: cloudpickle>=3.0.0 in e:\python workspace aur\.venv\lib\site-packages (from dask) (3.1.1)
Requirement already satisfied: fsspec>=2021.09.0 in e:\python workspace aur\.venv\lib\site-packages (from dask) (2025.9.0)
Requirement already satisfied: packaging>=20.0 in e:\python workspace aur\.venv\lib\site-packages (from dask) (25.0)
Requirement already satisfied: partd>=1.4.0 in e:\python workspace aur\.venv\lib\site-packages (from dask) (1.4.2)
Requirement already satisfied: pyyaml>=5.3.1 in e:\python workspace aur\.venv\lib\site-packages (from dask) (6.0.3)
Requirement already satisfied: toolz>=0.10.0 in e:\python workspace aur\.venv\lib\site-packages (from dask) (1.1.0)
Requirement already satisfied: colorama in e:\python workspace aur\.venv\lib\site-packages (from click>=8.1->dask) (0.4.6)
Requirement already satisfied: locket in e:\python workspace aur\.venv\lib\site-packages (from partd>=1.4.0->dask) (1.0.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.1.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [15]:
pip install matplotlib

Requirement already satisfied: matplotlib in e:\python workspace aur\.venv\lib\site-packages (3.10.7)
Requirement already satisfied: contourpy>=1.0.1 in e:\python workspace aur\.venv\lib\site-packages (from matplotlib) (1.3.3)
Requirement already satisfied: cycler>=0.10 in e:\python workspace aur\.venv\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in e:\python workspace aur\.venv\lib\site-packages (from matplotlib) (4.60.1)
Requirement already satisfied: kiwisolver>=1.3.1 in e:\python workspace aur\.venv\lib\site-packages (from matplotlib) (1.4.9)
Requirement already satisfied: numpy>=1.23 in e:\python workspace aur\.venv\lib\site-packages (from matplotlib) (2.3.4)
Requirement already satisfied: packaging>=20.0 in e:\python workspace aur\.venv\lib\site-packages (from matplotlib) (25.0)
Requirement already satisfied: pillow>=8 in e:\python workspace aur\.venv\lib\site-packages (from matplotlib) (12.0.0)
Requirement already satisfied: pyparsing>=3 in e:\python workspace aur\.venv\lib\site-packages (from matplotlib) (3.2.5)
Requirement already satisfied: python-dateutil>=2.7 in e:\python workspace aur\.venv\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in e:\python workspace aur\.venv\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.1.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [16]:
pip install netcdf4

Requirement already satisfied: netcdf4 in e:\python workspace aur\.venv\lib\site-packages (1.7.3)
Requirement already satisfied: cftime in e:\python workspace aur\.venv\lib\site-packages (from netcdf4) (1.6.5)
Requirement already satisfied: certifi in e:\python workspace aur\.venv\lib\site-packages (from netcdf4) (2025.10.5)
Requirement already satisfied: numpy in e:\python workspace aur\.venv\lib\site-packages (from netcdf4) (2.3.4)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.1.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [17]:
pip install xarray

Requirement already satisfied: xarray in e:\python workspace aur\.venv\lib\site-packages (2025.10.1)
Requirement already satisfied: numpy>=1.26 in e:\python workspace aur\.venv\lib\site-packages (from xarray) (2.3.4)
Requirement already satisfied: packaging>=24.1 in e:\python workspace aur\.venv\lib\site-packages (from xarray) (25.0)
Requirement already satisfied: pandas>=2.2 in e:\python workspace aur\.venv\lib\site-packages (from xarray) (2.3.3)
Requirement already satisfied: python-dateutil>=2.8.2 in e:\python workspace aur\.venv\lib\site-packages (from pandas>=2.2->xarray) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in e:\python workspace aur\.venv\lib\site-packages (from pandas>=2.2->xarray) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in e:\python workspace aur\.venv\lib\site-packages (from pandas>=2.2->xarray) (2025.2)
Requirement already satisfied: six>=1.5 in e:\python workspace aur\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas>=2.2->xarray) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.1.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [18]:
import xarray as xr
import pandas as pd

In [ ]:
# ini rangenya diganti sesuai sama tahun tugas sendiri sendiri 
dates_2021 = pd.date_range(start='2021-01-01', end='2021-12-31', freq='D')

In [ ]:
# ganti bagian tahun /2023/ jadi /tahun bagian sendiri/
base_url = "https://data.cci.ceda.ac.uk/thredds/dodsC/esacci/soil_moisture/data/daily_files/COMBINED/v09.1/2021/"
# gausah diubah udah nyesuaiin sendiri
filename_template = "ESACCI-SOILMOISTURE-L3S-SSMV-COMBINED-{date_str}000000-fv09.1.nc"

In [21]:
list_of_urls = []

In [ ]:
for date in dates_2021:
    # Format tanggalnya jadi string 'YYYYMMDD' (misal: '20230101')
    date_string = date.strftime('%Y%m%d')
    filename = filename_template.format(date_str=date_string)
    list_of_urls.append(base_url + filename)

In [23]:
# buat ngecek url apa aja yang keambil
print("List URL yang dibuat:")
print(list_of_urls[0:3])

List URL yang dibuat:
['https://data.cci.ceda.ac.uk/thredds/dodsC/esacci/soil_moisture/data/daily_files/COMBINED/v09.1/2020/ESACCI-SOILMOISTURE-L3S-SSMV-COMBINED-20200101000000-fv09.1.nc', 'https://data.cci.ceda.ac.uk/thredds/dodsC/esacci/soil_moisture/data/daily_files/COMBINED/v09.1/2020/ESACCI-SOILMOISTURE-L3S-SSMV-COMBINED-20200102000000-fv09.1.nc', 'https://data.cci.ceda.ac.uk/thredds/dodsC/esacci/soil_moisture/data/daily_files/COMBINED/v09.1/2020/ESACCI-SOILMOISTURE-L3S-SSMV-COMBINED-20200103000000-fv09.1.nc']

In [25]:
print("Mulai membuka dataset... ")
ds_series = xr.open_mfdataset(
    list_of_urls,
    combine='by_coords',
    #compat='override', #jangan diapa apain, dihapus gpp sih
    join='override',
    parallel=False # jangan diganti True nanti parallel computing ga semua bisa
)

print("Dataset berhasil dimuat:")
print(ds_series)

Mulai membuka dataset...
Dataset berhasil dimuat:
<xarray.Dataset> Size: 11GB
Dimensions:         (time: 366, lat: 720, lon: 1440)
Coordinates:
  * time            (time) datetime64[ns] 3kB 2020-01-01 ... 2020-12-31
  * lat             (lat) float32 3kB 89.88 89.62 89.38 ... -89.38 -89.62 -89.88
  * lon             (lon) float32 6kB -179.9 -179.6 -179.4 ... 179.4 179.6 179.9
Data variables:
    sm              (time, lat, lon) float32 2GB dask.array<chunksize=(1, 720, 1440), meta=np.ndarray>
    sm_uncertainty  (time, lat, lon) float32 2GB dask.array<chunksize=(1, 720, 1440), meta=np.ndarray>
    flag            (time, lat, lon) float32 2GB dask.array<chunksize=(1, 720, 1440), meta=np.ndarray>
    freqbandID      (time, lat, lon) int16 759MB dask.array<chunksize=(1, 720, 1440), meta=np.ndarray>
    dnflag          (time, lat, lon) int8 379MB dask.array<chunksize=(1, 720, 1440), meta=np.ndarray>
    mode            (time, lat, lon) int8 379MB dask.array<chunksize=(1, 720, 1440), meta=np.ndarray>
    sensor          (time, lat, lon) int32 2GB dask.array<chunksize=(1, 720, 1440), meta=np.ndarray>
    t0              (time, lat, lon) datetime64[ns] 3GB dask.array<chunksize=(1, 720, 1440), meta=np.ndarray>
Attributes: (12/44)
    title:                        ESA CCI Surface Soil Moisture COMBINED acti...
    institution:                  TU Wien (AUT); VanderSat B.V. (NL); Planet ...
    contact:                      cci_sm_contact@eodc.eu
    source:                       WARP 5.5R1.1/AMI-WS/ERS12 Level 2 Soil Mois...
    platform:                     Nimbus 7, DMSP, TRMM, AQUA, Coriolis, GCOM-...
    processing_level:             Quality-controlled, super-collocated (L3S) ...
    ...                           ...
    geospatial_lon_units:         degrees_east
    geospatial_lat_resolution:    0.25 degree
    geospatial_lon_resolution:    0.25 degree
    spatial_resolution:           25km
    time_coverage_start:          20200101T000000Z
    time_coverage_end:            20200101T235959Z

In [ ]:
# ini buat batasan lokasi Indonesia
lat_batas_indo = slice(6, -11)
lon_batas_indo = slice(95, 141)
# ini bikin variable sm_indonesia yang isinya 1 tahun numerical data
sm_indonesia2021 = ds_series['sm'].sel(lat=lat_batas_indo, lon=lon_batas_indo)

In [ ]:
df_sm2021 = sm_indonesia2021.to_dataframe().reset_index()
df_sm2021

              time     lat      lon  sm
0       2020-01-01   5.875   95.125 NaN
1       2020-01-01   5.875   95.375 NaN
2       2020-01-01   5.875   95.625 NaN
3       2020-01-01   5.875   95.875 NaN
4       2020-01-01   5.875   96.125 NaN
...            ...     ...      ...  ..
4579387 2020-12-31 -10.875  139.875 NaN
4579388 2020-12-31 -10.875  140.125 NaN
4579389 2020-12-31 -10.875  140.375 NaN
4579390 2020-12-31 -10.875  140.625 NaN
4579391 2020-12-31 -10.875  140.875 NaN

[4579392 rows x 4 columns]

In [ ]:
df_avg = df_sm2021.groupby('time')['sm'].mean()

In [33]:
df_avg_final = df_avg.to_frame().reset_index()
df_avg_final

          time        sm
0   2020-01-01  0.333384
1   2020-01-02  0.335547
2   2020-01-03  0.336030
3   2020-01-04  0.335488
4   2020-01-05  0.335309
..         ...       ...
361 2020-12-27  0.336285
362 2020-12-28  0.335764
363 2020-12-29  0.336265
364 2020-12-30  0.336384
365 2020-12-31  0.338613

[366 rows x 2 columns]

In [ ]:
df_avg_final.to_csv("Soil_Moisture_Indonesia_RATA-RATA_2021.csv", index=False)

In [ ]:
# ganti namanya sesuai tahun
# df_sm2023.to_csv('Soil Moisture Indonesia 2023.csv', index=False)